

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import "./default/index.scss";



:root {

  --primary-color: #413c58ff;

  --color-0: #cef9f2ff;
  --color-20: #afc1d6ff;
  --color-80: #ee2e31ff;
  --color-100: #1d7874ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Handjet", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-color);
  background-color: var(--color-0);
}


a {
  color: inherit;
  text-decoration: none;
}

